@font-face {
  font-family: 'Carrois Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Carrois Gothic Regular'), local('CarroisGothic-Regular'), url(https://fonts.gstatic.com/s/carroisgothic/v6/GCgb7bssGpwp7V5ynxmWy-YDkGZU0bw2OXG1Ku08t6E.ttf) format('truetype');
}
