@font-face {
  font-family: 'Belleza';
  font-style: normal;
  font-weight: 400;
  src: local('Belleza'), local('Belleza-Regular'), url(https://fonts.gstatic.com/s/belleza/v4/0PM4qwfASmAB2sOtSkd0vQ.ttf) format('truetype');
}
